// Colors 
$white: #ffffff;
$black: #494949;
$dark-gray: #6b7175;
$light-gray: #9b9b9b;
$blue: #075baa;
$light-blue: #00adee;
$green: #39b5aa;

// Font weights
$light: 300;
$regular: 400;
$medium: 600;
$bold: 700;
$extra-bold: 800;

// Base Font
$base-font-family: Helvetica, sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.1;

// Fixed Font
$fixed-font-family: "Open Sans";
$fixed-font-size: $base-font-size;
$fixed-line-height: $base-line-height;



