footer {
    background-color: $blue;
    color: $white;
    padding: 35px 0;
    font-size: 12px;
    letter-spacing: 0.1px;
    
    .logo{
        position: relative;
         text-align: center;
        margin-top: 15px;
        
        &:before{
            content: "";
            width: 104px;
            height: 104px;
            border-radius: 90px;
            border: 1px solid $white;
            position: absolute;
        }
    }
    
    .title{
        font-size: 12px;
        font-weight: $medium;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    
    .contactanos{
        margin: 50px 0px;
        
        @include respond-to("medium"){
            margin: 0;
        }

        .contact{

            li{
                margin: 15px 0;

                i{
                    font-size: 19px;
                }

                .title{
                    display: inline;
                    font-weight: $regular;
                    letter-spacing: 0.1px;
                    padding: 0 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .newsletter{
        form{
            margin-top: 12px;
            text-align: center;
            border-bottom: 1px solid;
            padding-bottom: 25px;

            @include respond-to("medium"){
                text-align: left;
                border: 0;
                padding: 0;
            }

            input[type="email"]{
                background-color: transparent;
                color: $white;
                border: 1px solid $white;
                padding: 15px;
                width: 100%;
                margin-right: 10px;
                border-radius: 4px;
                margin-bottom: 15px;

                 @include respond-to("medium"){
                    width: 61%;
                }

                &::placeholder{
                    color: $white;
                    font-size: 12px;
                    letter-spacing: 0.7px;
                }
            }

            .btn-border-white{
                font-weight: $regular;
            }
        }
    }
    
    .footer-info{
        font-size: 10px;
        line-height: 1.7;
        letter-spacing: 0.3px;
        margin-top: 40px;
        text-align: center;
        
        .right{
            margin-top: 20px;
        }
        
        p{
            padding-top: 1px;
            margin-bottom: 0;
            float: none !important;
        }
        
        @include respond-to("medium"){
            text-align: left;
            
            .left{
                float: left !important;
                margin-right: 10px;
            }
            
            .right{
                float: right !important;
                margin: 0;
            }
        }
        
        .social{
            display: inline;
            
            li{
                display: inline;
                margin: 0 5px;
                font-size: 16px;
                
                i{
                    font-size: 19px;
                }
                
                @include respond-to("medium"){
                    font-size: 12px;
                }
            }
        }
    }
    

}