.btn-blue{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: $medium;
    letter-spacing: 0.7px;
    display: inline-block;
    background-color: $light-blue;
    padding: 16px 30px;
    border-radius: 30px;
}